<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:text="${message}"></div>
<form th:action="@{/password/reset/new}" th:method="POST">
    <input type="hidden" th:name="token" th:value="${token}">
    <input type="password" th:name="newPassword" placeholder="Nowe hasło">
    <input type="password" th:name="confirmPassword" placeholder="Powtórz hasło">
    <button type="submit">Zapisz</button>
</form>
</body>
</html>