<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<header>
    <nav class="container container--70">

        <ul th:replace="/fragments/navigation.html :: navigation"></ul>
    </nav>
</header>

<section class="login-page">
    <h2>Zaloguj się</h2>
    <h5  th:text="${errorMessage}">tu error</h5>
    <div th:if="${param.error != null}"
         th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
    <form th:action="@{/login}" th:method="post" >
        <div class="form-group">
            <input type="text" name ="username" placeholder="Nazwa użytkownika"/>
        </div>
        <div class="form-group">
            <input type="password" name = "password" placeholder="Hasło"/>

            <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>
        <input type = "hidden" name = "${_csrf.parameterName}" value = "${_csrf.token}" />
        <div class="form-group form-group--buttons">
            <a th:href="@{/register}" class="btn btn--without-border">Załóż konto</a>
            <button class="btn" type="submit">Zaloguj się</button>
        </div>
    </form>
</section>

<footer th:replace="/fragments/footer.html :: footer"></footer>
</body>
</html>
