<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:text="${message}"></div>
<form th:action="@{/password/reset}" th:method="POST">
    <input type="email" th:name="email" placeholder="Podaj email">
    <button type="submit">Zrezetuj hasło</button>
</form>
</body>
</html>


Powinieneś wkrótce otrzymać wiadomość e-mail umożliwiającą zresetowanie hasła.
Jeśli nie możesz znaleźć tej wiadomości e-mail, upewnij się,
że nie trafiła przypadkowo do folderu spam lub do kosza.