<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Lista użytkowników</h1>
<div th:each="user : ${users}">
    <a th:href="@{/admin/user/edit/{id}(id=${user.getId()})}" th:text="${user.username}">user</a>
    <div th:if="${user.enabled}==true">

    <a th:href="@{/admin/user/ban/{id}(id=${user.getId()})}" >zablokuj</a>
    </div>
    <div th:if="${user.enabled}==false">

        <a th:href="@{/admin/user/ban/{id}(id=${user.getId()})}" >odblokuj</a>
    </div>

    <a th:href="@{/admin/user/confirm/{id}(id=${user.getId()})}" >usuń</a>
</div>


</body>
</html>